In [1]:
person1 = {'Name':'Srikanth','Gender':'Male','Occupation': 'Data Scientist',
 'Location': 'Hyderabad'}
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Hyderabad'}

In [2]:
person1['Age'] = 30
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Hyderabad',
 'Age': 30}

In [3]:
person1.pop('Location')
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Age': 30}

In [4]:
person2 = {'Name':'Sara',
          'Gender':'Female',
          'Age':25,
          'Occupation':'Analyst'}
person2

{'Name': 'Sara', 'Gender': 'Female', 'Age': 25, 'Occupation': 'Analyst'}

In [5]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 30}
==================== person2 ====================
{'Name': 'Sara', 'Gender': 'Female', 'Age': 25, 'Occupation': 'Analyst'}

In [10]:
#please explain how to do this
person = {'Name': ['Srikanth', 'Sara'],
 'Gender': ['Male', 'Female'],
 'Occupation': ['Data Scientist', 'Analyst'],
 'Age': [30, 25]}
person

{'Name': ['Srikanth', 'Sara'],
 'Gender': ['Male', 'Female'],
 'Occupation': ['Data Scientist', 'Analyst'],
 'Age': [30, 25]}

In [9]:
import pandas as pd
pd.DataFrame(person)

       Name  Gender      Occupation  Age
0  Srikanth    Male  Data Scientist   30
1      Sara  Female         Analyst   25